.input-design {
    width: 224px;
    color: #0154b8;
    outline: none; /* Ajuste para evitar borde de outline */
    font-weight: 700;
}

.ancho-minimo {
    min-height: 700px !important;
}

@media (min-width: 900px) {
    .ancho-minimo {
        width: 900px !important;
    }
}

/* Zebra stripes para filas alternadas */
.zebra-row:nth-child(odd) {
    background-color: #a7bcf0;
}

.zebra-row:nth-child(even) {
    background-color: #ffffff;
}

.desactivado {
    height: 40px; /* Asegúrate de que el div vacío mantenga la altura */
    background-color: transparent; /* Fondo transparente */
}
