.input-design {
    width: 224px;
    color: #0154b8;
    outline: #0154b8;
    font-weight: 700;
}

.search-btn {
    border-radius: 5px;
    padding: 10px;
    background-color: #0154b8;
    color: white;
}

.search-btn:hover {
    background-color: #F85778;
}