.color-atc {
  color: white;
}

.color-atc:hover {
  color: #0154b8;
}

.color-btn-atc {
  background-color: white;
  color: #0154b8
}

.color-btn-atc:hover {
  color: #fc5273;
  background-color: white;
}

.animacion-a {
  transform: translateX(25px);
}

.animacion-todo {
  transform: translateY(-40px) !important;
}

.input-login {
  color: #0154b8;
  font-weight: 700;
}

.input-password {
  color: rgb(71, 71, 71);
}

.swal2-styled {
  background-color: #0154b8 !important;
}