@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.bg-container {
  background: #F85778;
  background: linear-gradient(0deg, #F85778 20%, #0154b8 90%);
  background-repeat: no-repeat;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  /* .container {
    max-width: 440px;
  } */
}