@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Roboto', sans-serif; 
}

.bg-container {
  background: #fc5273;
  background: linear-gradient(0deg, #fc5273 20%, #0154b8 90%);
  background-repeat: no-repeat;
}